.product-card-large {
  background-color: rgb(239 239 239);
}
.product-img-large {
  max-width: 400px;
}
.product-price {
  color: rgb(24, 163, 24);
}
.dot {
  height: 20px;
  width: 20px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}
.counter {
  background-color: rgb(239 239 239);
  max-width: 100px;
  height: 35px;
  border-radius: 10px;
  padding-left: 5px;
  padding-right: 5px;
}
.btn-secondary {
  width: 25px;
  height: 25px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(239 239 239);
  border: none;
  color: black;
}
.btn-secondary:hover {
  background-color: rgb(202, 197, 197);
}
