body {
  /* font-family: "Roboto", sans-serif; */
  font-family: "Nunito", sans-serif;
}
.primary-color {
  color: aqua;
}
.hero-section {
  background-color: rgb(238, 236, 236);
}
.hero-img {
  width: 600px;
}
.hero-tagline {
  font-weight: 800;
  font-size: 55px;
}
.hero-description {
  font-size: large;
}
.category-icon {
  width: 60px;
}
.product-card {
  background-color: rgb(248, 244, 244);
  border-radius: 10px;
}
.product-card:hover {
  cursor: pointer;
}
.product-img {
  max-width: 200px;
  border: none;
}
.product-card:hover .product-img {
  transform: scale(1.1);
}

.price {
  color: rgb(24, 163, 24);
  font-size: 20px;
}
.star {
  color: rgb(255, 210, 48);
}
.testimonial-card {
  background-color: rgb(235, 230, 230);
  border-radius: 10px;
}
.testimonial-img {
  max-width: 100px;
  border-radius: 100%;
  top: -50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
