body {
  /* font-family: "Roboto", sans-serif; */
  font-family: "Nunito", sans-serif;
}
.primary-color {
  color: aqua;
}
.NavLink {
  text-decoration: none;
}
.hero-section {
  background-color: rgb(238, 236, 236);
}
.hero-img {
  width: 600px;
}
.hero-tagline {
  font-weight: 800;
  font-size: 55px;
}
.hero-description {
  font-size: large;
}
.category-icon {
  width: 60px;
}
.product-card {
  background-color: rgb(248, 244, 244);
  border-radius: 10px;
}
.product-card:hover {
  cursor: pointer;
}
.product-img {
  max-width: 200px;
  border: none;
}
.product-card:hover .product-img {
  transform: scale(1.1);
}
.category-card:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.price {
  color: rgb(24, 163, 24);
  font-size: 20px;
}
.star {
  color: rgb(255, 210, 48);
}
.testimonial-card {
  background-color: rgb(235, 230, 230);
  border-radius: 10px;
}
.testimonial-img {
  max-width: 100px;
  border-radius: 100%;
  top: -50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.icon{
  cursor: pointer;
}
/* ================= Desktop Layout ================= */

@media (max-width: 1555px) {
  .hero-tagline {
    font-size: 45px;
  }
}
@media (max-width: 1400px) {
  .category-icon {
    width: 55px;
  }
  .category-title {
    font-size: large;
  }
}
@media (max-width: 1276px) {
  .hero-tagline {
    font-size: 40px;
  }
  .hero-description {
    font-size: medium;
  }
}
@media (min-width: 1200px) {
  .category-icon {
    width: 50px;
  }
  .category-title {
    font-size: medium;
  }
}
@media (max-width: 1200px) {
  .hero-tagline {
    font-size: 35px;
  }
  .hero-img {
    width: 450px;
  }
  .category-title {
    font-size: small;
  }
  .category-card .card-body {
    padding: 5px 0px;
  }
}
@media (max-width: 1024px) and (min-width: 859px) {
  .hero-tagline {
    font-size: 30px;
  }
  .hero-description {
    font-size: medium;
  }
  .hero-img {
    width: 400px;
  }
  .category-icon {
    width: 40px;
  }
  .category-card .card-body {
    padding: 3px 0px;
  }
  .category-title {
    font-size: small;
    margin-bottom: 2px;
  }
}
@media (max-width: 991.98px) {
  .btn-md-sm {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
  }
}
@media (max-width: 859px) and (min-width: 768px) {
  .hero-tagline {
    font-size: 26px;
  }
  .hero-description {
    font-size: small;
  }
  .hero-img {
    width: 350px;
  }
  .category-icon {
    width: 40px;
  }
  .category-card .card-body {
    padding: 3px 0px;
  }
  .category-title {
    font-size: small;
    margin-bottom: 2px;
  }
}
@media (max-width: 767px) {
  .hero-tagline {
    font-size: 19px;
    margin-bottom: 10px !important;
  }
  .hero-description {
    font-size: 10px;
  }
  .hero-img {
    width: 250px;
  }
  .featured-category {
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    padding-left: 130px;
  }
  .category-card {
    flex: 0 0 auto;
    width: 100px;
    margin-right: 10px;
  }
  .category-card:last-child {
    margin-right: 0;
  }
  .category-card {
    margin: 0px 5px !important;
  }
  h2 {
    font-size: 20px;
  }
  .product-img {
    max-width: 150px;
  }
  .product-name {
    font-size: 18px;
  }
  .price {
    font-size: 18px;
  }
  .testimonial-img {
    max-width: 75px;
  }
  .testimonial-name {
    font-size: 14px;
  }
  .testimonial-content {
    font-size: 14px;
  }
  .testimonial-card .card-body {
    padding: 0px;
  }
  .footer-row {
    padding-left: 50px;
  }
  .footer-row .col-md-2 {
    margin-bottom: 20px;
  }
}

@media (max-width: 576px) and (min-width: 425px) {
  .tagline-section {
    margin-right: 13px;
  }
  .hero-tagline {
    font-size: 14px;
  }
  .hero-description {
    font-size: 8px;
  }
  .btn-md-sm {
    padding: 0.25rem 0.5rem;
    font-size: 0.475rem;
  }
  .hero-img {
    width: 220px;
  }
  .product-img {
    max-width: 100px;
  }
  .product-name {
    font-size: 15px;
  }
  .price {
    font-size: 15px;
  }
  .review-div {
    font-size: 12px;
  }
  .product-card .card-body {
    padding-top: 6px;
    padding-bottom: 2px;
  }
}

@media (max-width: 424px) {
  h2 {
    font-size: 18px;
  }
  .hs {
    flex-direction: column;
    align-items: center;
  }
  .tagline-section {
    order: 2;
    text-align: start;
  }
  .hero-img {
    width: 250px;
  }
  .category-icon {
    width: 35px;
  }
  .category-title {
    font-size: small;
    margin-bottom: 1px;
  }
  .product-img {
    max-width: 75px;
  }
  .product-name {
    font-size: 10px;
  }
  .price {
    font-size: 10px;
  }
  .review-div {
    font-size: 10px;
  }
  .icon {
    font-size: 15px;
  }
  .product-card .card-body {
    padding-top: 3px;
    padding-bottom: 1px;
  }
  .testimonial-content {
    font-size: 12px;
  }
}
